.wrapper-cart{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  padding: 8px 16px;
  background-color: rgb(223, 208, 195);
  border-radius: 10px;
  border: solid 1px rgb(179, 107, 0);
  color: rgb(32, 32, 32);
}
.wrapper-cart-article{
  display: flex;
  justify-content: flex-start;
}

.wrapper-cart-article img{
  width: 40px;
  height: 40px;
  object-fit: scale-down;
}

.table-responsive{
  /* center the whole table */
}
.table-bordered{
  margin: 16px;
  padding: 8px;
  border-radius: 3px;
  background-color: aliceblue;
}

tbody{
  margin: 16px;
  padding: 8px 16px;
  background-color: rgb(201, 242, 251);
  border-radius: 10px;
  /* border: solid 1px rgb(179, 107, 0); */
}

.table-fix{
  background-color: rgb(10, 80, 142);
  color:white;
}
th{
  padding: 8px;
}

.button-order{
  padding: 8px 16px;
}

.wrapper-button-quantity{
  display: flex;
  justify-content: center;
  gap: 8px;
}