.wrapper-item{
  text-decoration: none;
  display: inline-block;
  width: 400px;
  padding: 8px 16px;
  background-color: rgb(99, 120, 179);
  border-radius: 10px;
  color: white;
  margin: auto;
}

.wrapper-item img{
  width: 380px;
  padding: 8px;
  object-fit: scale-down;
  
}

.wrapper-button-picture-slide{
  padding: 8px;
  display: flex;
  justify-content: center;
}
.button-item{
  margin: 0 8px;
}