.wrapper-item{
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 400px;
  padding: 8px 16px 48px 8px;
  background-color: aliceblue;
  border-radius: 10px;
  border: solid 1px #b36b00;
  color: rgb(32, 32, 32);
  margin: auto;
}

.wrapper-item img{
  width: 380px;
  padding: 8px;
  object-fit: scale-down;
  
}

.wrapper-button-picture-slide{
  padding: 8px;
  display: flex;
  justify-content: center;
}
.button-item{
  margin: 0 8px;
}