.App {
  text-align: center;
}
header {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.header-title{
  background-color: aliceblue;
  margin: 20px;
  border-radius: 3px;
  height: 40px;
  padding: 16px;
  text-align: center;
}
h1{
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 240px;
}
.shop-icon{
  color: #b36b00;
}
.margin{
  margin: 8px;
}
.show {
  position: absolute;
  top: 50%; 
  left: 50%; 
  margin-right: -50%; 
  transform: translate(-50%, -50%);
  display: block;
  transition: 800ms;
  opacity: 1;
  z-index: 10;
  padding: 20px;
  background-color: #2b0066;
  color: white;
  border-radius: 3px; 
}
.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}