body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 232, 232);
  /* list-style: none;
  text-decoration: none; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  margin: 16px;
}
.outer-wrapper-products{
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.outer-wrapper-products li{
  width: 320px;
}
.outer-wrapper-products a {
  text-decoration: none;
  display: inline-block;
  width: 290px;
  height: 400px;
  padding: 8px 16px;
  background-color: rgb(99, 120, 179);
  border-radius: 10px;
  color: white;
  margin: 16px;
}

.wrapper-product img{
  width: 220px;
  object-fit: scale-down;
  
}
 .wrapper-product{
  width: 300px;
  display: flex; 
  align-content: space-between;
}
