body {
  margin: 0;
  font-family: 'Maven Pro', "Poppins", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 236, 248);
  color: rgb(32, 32, 32)
  /* list-style: none;
  text-decoration: none; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
button{
  background-color: aquamarine;
  border-radius: 3px;
}
button:hover{
  background-color: rgb(64, 8, 116);
  color: white;
}

ul{
  margin: 16px;
}
.outer-wrapper-products{
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.outer-wrapper-products li{
  width: 320px;
}
.outer-wrapper-products a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 290px;
  height: 400px;
  padding: 8px 16px;
  /* background-color: rgb(223, 208, 195); */
  background-color: aliceblue;
  border-radius: 10px;
  border: solid 1px rgb(179, 107, 0);
  color: rgb(32, 32, 32);
  margin: 16px;
}

.wrapper-product img{
  padding-top: 12px;
  width: 220px;
  object-fit: scale-down;
  height: 220px;
  
}
 .wrapper-product{
  width: 300px;
  display: flex; 
  align-content: space-between;
}

.wrapper-button-buy{
  position: absolute;
  bottom: 16px;
  padding: 4px 16px;
  transform: translate(-50%);
}